<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

        @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA90w3XvXzWdhGgqqQ9zSS0jf2JJekotXw&callback=initMap">
    </script>
    <script src="~/Scripts/JavaScript.js"></script>

</body>
</html>
